
* {    
 	font-family: Avenir Next, Helvetica, Times, sans-serif;
}

html {
 height:100%;
       
}

body {
	height:100%;
	margin:0 0;
      
}

section {
    height:100%;  
}


 li {
    text-decoration: none;
    list-style-type: none;
     padding:1em;   

}



/* MENUS */


header {
 width:100%;
 display:flex;
    flex-direction: row;
    justify-content: space-between;
    background: grey;
    
    
}

.headerleft  {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
   
}


.footer_menu {
    flex-direction: row;
    justify-content: center;
    color:white; 
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap; 
    padding-top: 0.5em;
}

.footer_menu li {
    text-decoration: none;
    list-style-type: none;
     padding:1em;   

}



footer { 
    height:6em;
    background:url('/static/images/assets/footer-texture.jpg');
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    padding-bottom: 1em;
}




/* landing */
#landing-main {
	background-image: url('/static/images/assets/wedding_gowns_1.jpg');
	background-size:cover;
	background-clip:content-box;
    height:100%; 
}

#landing-main img {
 margin-left: 35%;
    margin-top: 1em;
    width: 30%;
    
}

 
    

#landing-main form {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
	position: absolute;
	bottom:3.5em;
	left: 4em;
	right:4em;
	width: 80%;
	background:white;
	opacity:0.6;
	font-size: 180%;
	font-weight:bold;
    
}

#landing-main form input {
	font-size: 110%;
	margin-left: 0.5em;
}

#landingbutton {
	position:relative;
	left:1em;
	top:2px;
	background:none;
	cursor: pointer;
  border-radius: 5px;
  border:1px solid grey;
  
}

#landingbutton {

	background:none;
	cursor: pointer;
    border-radius: 5px;
    border:1px solid grey;
  
}

#landingbutton:hover {
    background: #55acee;	
}

   #landing-mobile{
        display:none;   
    } 

/*iphone 5*/
@media screen and (device-width: 320px)  and (orientation: portrait) {

    
    #landing-main form {
            display:none;
        
    }
    
    #landing-main {
     width:100vw;
          
    }
    
    #landing-main img {
        margin-left: 10%;
        margin-top: 30px;
        width: 80%;
    }
    
    #landing-mobile {
        
        font-size:80px;
        display:block;
        position:absolute;
        bottom: 10%;
        left:10%;
        width: 80%;
        height: 25%;
        text-align: center;
        background: white;
        opacity: 0.6;
        
    }
    
    #landing-mobile form {
        display:block;
        position:absolute;
        bottom:0;
        left:0;
        height:35%;
        width:100%;
        font-size: 70px;
        padding-top:20px;
    }
    
    
    #landing-mobile select {
        display:block;
        
        width:100%;
        font-size: 70px;
       
    }
    
    


    
}

